{% extends 'base.html' %}

{% block pagename %}
Create Post
{% endblock %}

{% block title %}
    Create Post for {{ user.first_name }} {{ user.last_name }}
{% endblock %}

{% block content %}
    <form method="POST">
        <div>
            <div>
                <label for="title">Title</label>
            </div>
            <input type="text" id="new-post-title" name="new-post-title" placeholder="Enter Title">
        </div>
        <div>
            <div>
                <label for="content">Content</label>
            </div>
            <textarea id="new-post-content" name="new-post-content" placeholder="Type Post"></textarea>
        </div>
        <div>
            <a href="/users/{{ user.id }}">Cancel</a>
            <button type="submit">Add Post</button>
        </div>
        <div>
            {% for tag in tags %}
            <div>
                <input type="checkbox" name="tags" id="tag_{{ tag.id }}" value="{{ tag.id }}">
                <label for="tag_{{ tag.id }}">{{ tag.name }}</label>
            </div>
            {% endfor %}
        </div>
    </form>
{% endblock %}