{% extends 'base.html' %}

{% block title %}
    User Page
{% endblock %}

{% block content %}
<div>
    <img src="{{ user.img_url }}" alt="">
</div>
<div>
    <p>User ID: {{ user.id }}</p>
</div>
<div>
    <p>First Name: {{ user.first_name }}</p>
</div>
<div>
    <p>Last Name: {{ user.last_name }}</p>
</div>


<form>
    <button type="submit" formaction="/users/{{ user.id }}/edit" formmethod="GET">Edit User</button>
    <button type="submit" formaction="/users/{{ user.id }}/delete" formmethod="POST">Delete User</button>
</form>


{% endblock %}