{% extends 'base.html' %}

{% block title %}
    Edit User
{% endblock %}

{% block content %}
<form>
    <div>
        <input type="text" id="first_name_edit" name="first_name_edit" value="{{ user.first_name }}" required>
        <input type="text" id="last_name_edit" name="last_name_edit" value="{{ user.last_name }}" required>
        <input type="text" id="img_url_edit" name="img_url_edit" value="{{ user.img_url }}" required>
    </div>

    <div>
        <button formmethod="GET" formaction="/users/{{ user.id }}">Cancel</button>
        <button formmethod="POST" formaction="/users/{{ user.id }}/edit">Save Changes</button>
    </div>
</form>
{% endblock %}